姓名：；学号：

案例分析目标
给定数据集包含1091条数据，每个样本包含20个字段，数据已进行脱敏处理，每一行代表一个样本，且对于每个样本已标注出其是否违约。要求根据给定数据构建模型来预测用户贷款违约的情况

数据模型构建
1、贷款违约预测模型需求理解和目标分析（5）

（1）目标描述：理解需求产生的背景，梳理出分析的目m标，定位数据挖掘模式（分类，聚类还是关联分析）？

（2）引入构建模型需要的python包和数据导入

（1）分析的目标：通过用户的历史行为（如历史数据的多维特征和贷款状态是否违约）来训练模型，通过这个模型对新增的贷款人“是否具有偿还能力，是否
具有偿债意愿”进行分析，预测贷款申请人是否会发生违约贷款分类算法
数据挖掘模式：分类算法
（2）引入包及数据导入

In [2]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import warnings; warnings.filterwarnings(action='ignore') #ignore
inputfile = 'D:\lendingdata.csv'
data = pd.read_csv(inputfile, encoding = 'gbk')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091 entries, 0 to 1090
Data columns (total 19 columns):
sex               1091 non-null object
degree            1089 non-null object
uni_level         1091 non-null object
u_loan            1091 non-null object
guarantee         1091 non-null object
amount            1091 non-null float64
income            1091 non-null float64
period_m          1091 non-null float64
repayment_m       1091 non-null float64
repayment_T       1091 non-null float64
count             1091 non-null float64
c_borrowing       1091 non-null float64
c_repayment       1091 non-null float64
c_overdue         1091 non-null float64
c_fre             1091 non-null float64
c_over_fre        1091 non-null float64
c_overrate        1091 non-null float64
c_over_frerate    1091 non-null float64
performance       1091 non-null int64
dtypes: float64(13), int64(1), object(5)
memory usage: 162.1+ KB

2、认识数据（15分）

（1）阐述每一步数据探索操作的目的（5分）
  目的是对要分析的数据有个大概的了解。弄清数据集大小，特征和样本数量，数据类型，数据的概率分布等

（2）采用Python matplotlib等数据可视化包完成数据探索代码实现及可视化效果。（10分）

In [7]:
print(data.shape)
print(data.head())

(1091, 19)
    sex    degree uni_level   u_loan guarantee    amount    income  period_m  \
0  male  bachelor     other   travel         Y  0.109063  0.015546  0.505110
1  male  bachelor     other    study         Y  0.109063  0.624677  0.505110
2  male  bachelor      high  trading         N -1.801620 -1.944738  0.505110
3  male       NaN     other    study         N  4.738273  2.795424  0.505110
4  male  bachelor     other   living         N  1.266366  0.063777 -0.130501

   repayment_m  repayment_T     count  c_borrowing  c_repayment  c_overdue  \
0    -0.238010     0.106394 -0.420401     0.556433     0.551220  -0.370189
1    -0.228049     0.146047 -0.542786     1.762922     1.964899  -0.370189
2    -0.818821    -2.216702 -0.787555    -0.879862    -0.774510  -0.370189
3     0.910477     4.678341 -0.053247    -0.018085     0.023526  -0.370189
4     0.210670     1.207284 -0.624375     0.412804     0.472341  -0.370189

      c_fre  c_over_fre  c_overrate  c_over_frerate  performance
0  0.246736   -0.370365   -0.461185       -0.426766            1
1  1.613174   -0.370365   -0.461185       -0.426766            1
2 -0.677620   -0.370365   -0.461185       -0.426766            1
3 -0.436484   -0.370365   -0.461185       -0.426766            1
4  0.005599   -0.370365   -0.461185       -0.426766            1

3、数据预处理（15分）

（1）阐述每一步数据预处理操作的目的（5分）
数据处理的基本目的是从大量的、可能是杂乱无章的、难以理解的数据中抽取并推导出对于某些特定的人们来说是有价值、有意义的数据

（2）采用Python完成数据预处理代码实现及执行效果。（10分）

In [8]:
#查看每列属性缺失值的比例
check_null = data.isnull().sum().sort_values(ascending=False)/float(len(data)) 
print(check_null[check_null > 0.2]) # 查看缺失比例大于20%的属性。

Series([], dtype: float64)

In [9]:
#同值化处理
data = data.loc[:,data.apply(pd.Series.nunique) != 1]
print(data.shape)

(1091, 19)

In [13]:
#缺失值处理
objectColumns = data.select_dtypes(include=["object"]).columns
data[objectColumns].isnull().sum().sort_values(ascending=False)
data[objectColumns]

         sex    degree uni_level    u_loan guarantee
0       male  bachelor     other    travel         Y
1       male  bachelor     other     study         Y
2       male  bachelor      high   trading         N
3       male       NaN     other     study         N
4       male  bachelor     other    living         N
...      ...       ...       ...       ...       ...
1086    male  bachelor     other  business         Y
1087  female  bachelor     other  shopping         Y
1088  female  bachelor     other  shopping         Y
1089  female  bachelor     other    travel         Y
1090    male  college      other    living         Y

[1091 rows x 5 columns]

In [16]:
#数据过滤
print(objectColumns)

Index(['sex', 'degree', 'uni_level', 'u_loan', 'guarantee'], dtype='object')

In [17]:
#将以上重复或对构建预测模型没有意义的属性进行删除

drop_list = ['sex', 'degree', 'uni_level', 'u_loan', 'guarantee']
data.drop(drop_list, axis=1, inplace=True)

In [18]:
data.select_dtypes(include = ['object']).shape

(1091, 0)

4、特征选取（特征工程）（15分）

（1）简单描述拟采用特征选取方法的原理（5分）
特征选择 ( Feature Selection )也称特征子集选择( Feature Subset Selection , FSS ) ，或属性选择( Attribute Selection ) ，是指从全部特征中选取一个特征子集，使构造出来的模型更好。特征选择能剔除不相关(irrelevant)或亢余(redundant )的特征，从而达到减少特征个数，提高模型精确度，减少运行时间的目的。另一方面，选取出真正相关的特征简化了模型，使研究人员易于理解数据产生的过程

2）采用Python完成特征选取代码实现及特征重要程度展示。（10分）

In [ ]:
#特征衍生

In [ ]:
5、模型构建（30分）

（1）阐述所选择两种及两种以上算法构建相应的数据挖掘模型的理由？（10分）
 1.每个模型都有优缺点和适用范围，单一模型不能准确的反应问题
 2.多个模型能从多个角度来反映事物的多样性

（2）Python实现算法1构建模型（10分）

（3）Python实现算法2构建模型（10分）

6、模型评估与选择（15分）

（1）阐述选择模型评估方法（指标）的原因（5分）
1.通过多个训练集训练来获取平均的预测误差，抹平训练集变动带来的影响，
2.可以防止某个训练集上训练所得模型表现过好而夸大模型的预测能力

（2）模型评估代码实现及最终选择模型的效果展示（10分）

结论¶
对分析结果和预测模型做简要的描述和总结？（5分）

通过逻辑回归模型来对这些数据进行预测判断，构建贷款违约预测模型，建立预测模型，预测正处于贷款期间的人的违约的概率 。在贷款管理方面，如果可以通过构建量化模型对客户的信用等级进行一定的区分。得知了每个账户的违约概率后，可以预估一下未来的坏账比例，及时做好资金安排。也可以对违约概可能性较高的客户进行更加频繁的“关怀”，及时发现问题，以避免损失